<div class="hstack w-100 m-0" x-data="VideoFeed" x-init="startConnectionFlow()">
    <div class="card w-100 m-0">
        <div class="card-body">
<!--            <video-->
<!--                id="videoStream"-->
<!--                class="video-js"-->
<!--                data-setup='{-->
<!--                    "autoplay": "true",-->
<!--                    "fluid": "true",-->
<!--                    "preload": "auto",-->
<!--                    "inactivityTimeout": "0",-->
<!--                    "userActions": {-->
<!--                        "doubleClick": "false"-->
<!--                    }-->
<!--                }'-->
<!--            >-->
<!--            </video>-->
            <div>
                <video id="jmuxer_videofeed" autoplay controls></video>
            </div>
        </div>
    </div>
</div>
