<div class="hstack w-100 m-0" x-data="Controller">
    <div class="card w-100 m-0">
        <div class="card-body">
        <h5 class="card-title m-0">Controller</h5>
        <div class="card-text vstack"
           x-init="$el.addEventListener('touchstart touchmove touchend', function (e) {
                e.preventDefault();
           })"
        >
            <div
                @press.window="mouseDown($event.detail);"
                @release.window="mouseUp($event.detail);"
                @reset.window="clearBuffer();"
            >
{% include "widgets/controller.svg" %}
            </div>
            <div x-text="feedback"></div>
        </div>
      </div>
    </div>
</div>
